SECRET_KEY=django-insecure-1jqv76y0^+t7818_0@sf=sogz57g8fep_ja0i8ypqo_aff$ot
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost
DB_HOST=db

POSTGRES_DB=myproject_db
POSTGRES_USER=myproject_user
POSTGRES_PASSWORD=supersecretpassword